// No need to show the login button, it's not functional anyway.
// We show the google-generated button via `connectors/after-login-buttons/google_one_tap.hbs
.btn.btn-social.google_one_tap {
  display: none;
}
#google_one_tap {
  margin: 0.35em 0;
  display: inline-block;
  width: 100%;
}
