// No need to show the login button, it's not functional anyway.
// The right to show the button, would be to let Google JS handle it.
// Also check the login-button.hbs to note what needed to show the button.
.btn.btn-social.google_one_tap{
    display: none; 
}